# Environment Configuration
.env

# Dependency directory
node_modules

# Test coverage directory
coverage

# Ignore Apple macOS Desktop Services Store
.DS_Store

# Minimized files (found in the wishlist-frontend)
theme-app-extension/assets/*.min.js

# Logs
logs
*.log

# ngrok tunnel file
config/tunnel.pid

# next build output
.next/
