<script src="{{ 'app.modal.min.js' | asset_url }}" defer></script>
{{- 'app.modal.min.css' | asset_url | stylesheet_tag -}}

<div class="wishlist-btn"></div>

{% schema %}
    {
        "name": "Wishlist Badge",
        "target": "body"
    }
{% endschema %}