<script src="{{ 'app.bundle.min.js' | asset_url }}" defer></script>

<div class="wishlist-btn">
    Klik på mig
</div>

{% schema %}
    {
        "name": "Wishlist Badge",
        "target": "body"
    }
{% endschema %}